In [19]:
#Tugas Sesi 1 Konsep Pemrograman

print('Program Hitung Luas & Keliling Lingkaran')
print('----------------------------------------')

r = float(input('masukkan nilai jari-jari :'))

phi = 3.14
diameter = 2*r

luas = phi*r*r
keliling = phi*diameter
print('\nLuasnya =', str("%.3f" % luas)) 
print('Kelilingnya =', str("%.3f" % keliling))


print('\nEko Memen Nuryaman TI22B')

Program Hitung Luas & Keliling Lingkaran
----------------------------------------
masukkan nilai jari-jari :12

Luasnya = 452.160
Kelilingnya = 75.360

Eko Memen Nuryaman TI22B

In [3]:
#Tugas Sesi 1 Konsep Pemrograman

print('Program Hitung Luas Segitiga')
print('----------------------------------------')

a = float(input('masukkan nilai Alas :'))
t = float(input('masukkan nilai Tinggi :'))

luas = 0.5*a*t
print('\nLuasnya =', str("%.2f" % luas))


print('\nEko Memen Nuryaman TI22B')

Program Hitung Luas Segitiga
----------------------------------------
masukkan nilai Alas :100
masukkan nilai Tinggi :230

Luasnya = 11500.00

Eko Memen Nuryaman TI22B

In [1]:
#Tugas Sesi 3 Variabel dan Tipe Data

print('Program Data Mahasiswa')
print('----------------------')

nama = input("masukkan Nama          :")
telp = int(input("masukkan nomor telepon :"))
nim = int(input("masukkan NIM           :"))

print("\n")
print(nama)
print(telp)
print(nim)

print('\nBy Eko Memen Nuryaman TI22B')

Program Data Mahasiswa
----------------------
masukkan Nama          :Eko Memen Nuryaman
masukkan nomor telepon :08128215708
masukkan NIM           :20220040026


Eko Memen Nuryaman
8128215708
20220040026

By Eko Memen Nuryaman TI22B

In [2]:
#Tugas Sesi 3 Variabel dan Tipe Data

print('Program Hitung Nilai 3 Angka')
print('----------------------------')

a = float(input('masukkan nilai angka 1 :'))
b = float(input('masukkan nilai angka 2 :'))
c = float(input('masukkan nilai angka 3 :'))

d = 500

Hitung = (a+d)+(b+d)-c

print('\nHasil Perhitungan =', str("%.0f" % Hitung))

print('\nEko Memen Nuryaman TI22B')

Program Hitung Nilai 3 Angka
----------------------------
masukkan nilai angka 1 :5000
masukkan nilai angka 2 :2000
masukkan nilai angka 3 :200

Hasil Perhitungan = 7800

Eko Memen Nuryaman TI22B

In [4]:
#Tugas Sesi 3 Variabel dan Tipe Data

print('Program Hitung Keliloing Lingkaran dan Volume Kubus')
print('---------------------------------------------------')

r = float(input('masukkan nilai jari-jari :'))
p = float(input('masukkan nilai panjang :'))
l = float(input('masukkan nilai lebar :'))
t = float(input('masukkan nilai tinggi :'))

phi=3.14
diameter=2*r

keliling = phi*diameter
volume = p*l*t

print('\nKeliling Lingkaran =', str("%.3f" % keliling))
print('Volume Kubus =', str("%.0f" % volume))

print('\nEko Memen Nuryaman TI22B')

Program Hitung Keliloing Lingkaran dan Volume Kubus
---------------------------------------------------
masukkan nilai jari-jari :234
masukkan nilai panjang :323
masukkan nilai lebar :22
masukkan nilai tinggi :34

Keliling Lingkaran = 1469.520
Volume Kubus = 241604

Eko Memen Nuryaman TI22B

In [5]:
#Tugas Sesi 5 Input-Output-String

print('Master Biodata')
print('--------------')

nama = input("Nama          :")
tempat = input("Tempat Lahir  :" )
lahir = input("Tanggal Lahir :" )
alamat1 = input ("Alamat        :")
alamat2 = input ("Kelurahan     :")
alamat3 = input ("Kecamatan     :")
alamat4 = input ("Kab/Kota      :")
alamat5 = input ("Provinsi      :")
pekerjaan = input ("Pekerjaan     :")
telepon = int(input("Telepon       :"))
email = input ("email         :")

print("\n")
print(nama)
print(lahir)
print(alamat1)
print(alamat2)
print(alamat3)
print(alamat4)
print(alamat5)
print(telepon)
print(email)

print('\nby NSP')

Master Biodata
--------------
Nama          :Eko Memen Nuryaman
Tempat Lahir  :Sukabumi
Tanggal Lahir :29 Mei 1969
Alamat        :Jl. Raya Kadupugur 172A
Kelurahan     :Cijalingan
Kecamatan     :Cibadak
Kab/Kota      :Sukabumi
Provinsi      :Jawa Barat
Pekerjaan     :Swasta
Telepon       :08128215708
email         :eko@policipta.com


Eko Memen Nuryaman
29 Mei 1969
Jl. Raya Kadupugur 172A
Cijalingan
Cibadak
Sukabumi
Jawa Barat
8128215708
eko@policipta.com

by NSP

In [63]:
#Tugas Sesi 5 Input-Output-String

print('\33[1m''UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

nama = "UNIVERSITAS NUSA PUTRA SUKABUMI"
print(nama.lower()[12:23])
print(nama.replace('UNIVERSITAS NUSA PUTRA SUKABUMI','putra nusa'))
print(nama.replace('U',''))
print(nama.replace('UNIVERSITAS NUSA PUTRA SUKABUMI','UNSP'))
print(nama.replace('UNIVERSITAS NUSA PUTRA SUKABUMI','TAS SAPU BUMI'))

print('\nby EMN')

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
nusa putra
putra nusa
NIVERSITAS NSA PTRA SKABMI
UNSP
TAS SAPU BUMI

by EMN

In [2]:
# PROGRAM MENGHITUNG TARIS BERDASARKAN UMUR DAN TINGGI

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

umur = int(input("Masukkan umur anak: "))
tinggi = int(input("Masukkan tinggi anak (cm): "))
def hitung_tarif(umur, tinggi):
     if umur < 2:
         print("Dilarang masuk")
     elif umur < 4:
         if tinggi > 70:
             tarif = 30000 + 10000
         else:
             tarif = 30000
     elif umur < 7:
         if tinggi > 120:
             tarif = 40000 + 15000
         else:
             tarif = 40000
     elif umur < 10:
         if tinggi > 150:
             tarif = 50000 + 20000
         else:
             tarif = 50000
     else:
         tarif = 80000
     print("Tarif harga: Rp", tarif)
hitung_tarif(umur, tinggi)

print('\nby EMN')

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
Masukkan umur anak: 20
Masukkan tinggi anak (cm): 120
Tarif harga: Rp 80000

by EMN

In [3]:
#Tugas Sesi 6 Kondisi Percabanan

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

#PROGRAM MENGHITUNG JUMLAH KALORI YANG TERBAKAR SETELAH MELAKUKAN OLAHRAGA
aktivitas = input("Aktivitas olahraga yang dilakukan (lari, push-up, atau plank)? ")
durasi = int(input("Berapa lama waktu yang digunakan (dalam menit)? "))
if aktivitas == "lari":
     kalori_terbakar = (durasi/5) * 60
elif aktivitas == "push-up":
     kalori_terbakar = (durasi/30) * 200
elif aktivitas == "plank":
     kalori_terbakar = durasi * 5
else:
     kalori_terbakar = 0
print("Jumlah kalori yang terbakar:", kalori_terbakar)

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
Aktivitas olahraga yang dilakukan (lari, push-up, atau plank)? lari
Berapa lama waktu yang digunakan (dalam menit)? 30
Jumlah kalori yang terbakar: 360.0

In [66]:
#Tugas Sesi 7 Kondisi Perulangan

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

x = input()
olah = x[::-1]
print (olah)

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
LUPA LUPA INGAT
TAGNI APUL APUL

In [6]:
#Tugas Sesi 7 Kondisi Perulangan

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

teks = input('masukkan teks:').lower()
vokal = {
    'a': 0,
    'i': 0,
    'u': 0,
    'e': 0,
    'o': 0
}
total_vokal = 0

for i in teks:
    if i in ['a','i','u','e','o']:
        vokal[i] += 1
        total_vokal += 1
        
print(f'total karakter: {len(teks)}')
print(f'total hurup vokal: {total_vokal}')
print(f'''\
    a = {vokal['a']}
    i = {vokal['i']}
    u = {vokal['u']}
    e = {vokal['e']}
    o = {vokal['o']}\
''')

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
masukkan teks:UNIVERSITAS NUSA PUTRA SUKABUMI
total karakter: 31
total hurup vokal: 13
    a = 4
    i = 3
    u = 5
    e = 1
    o = 0

In [5]:
#Tugas Sesi 12 Menghitung Hurup Besar Dalam kalimat
#Ibu Kota Negara Pindah ke Penajam Kalimantan" 

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

kata = input('masukan kata = ') 
hurupbesar = 0
for kar in kata:
    if kar.isupper():
        hurupbesar = hurupbesar +1

print('jumlah hurup besar adalah sebanyak :', hurupbesar)

print('\nEko MN')

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
masukan kata = Ibu Kota Negara Pindah ke Penajam Kalimantan
jumlah hurup besar adalah sebanyak : 6

Eko MN

In [6]:
#Tugas Sesi 12 Menghitung Hurup Besar Dalam kalimat
#DKI Jakarta Menjadi Pusat Bisnis Indonesia" 

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

kata = input('masukan kata = ') 
hurupbesar = 0
for kar in kata:
    if kar.isupper():
        hurupbesar = hurupbesar +1

print('jumlah hurup besar adalah sebanyak :', hurupbesar)

print('\nEko MN')

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
masukan kata = DKI Jakarta Menjadi Pusat Bisnis Indonesia
jumlah hurup besar adalah sebanyak : 8

Eko MN

In [1]:
##Tugas Sesi 14 Algoritma

print('Mencari Y = 3x + 8')
print('------------------')

a = float(input('masukkan nilai angka x :'))

Hitung = (3*a)+(8)

print('\nHasil Perhitungan =', str("%.2f" % Hitung))

print('\nEko Memen Nuryaman TI22B')

Mencari Y = 3x + 8
------------------
masukkan nilai angka x :4

Hasil Perhitungan = 20.00

Eko Memen Nuryaman TI22B

In [1]:
#Tugas Sesi 15 Import Data CSV 

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

import pandas as pd

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------

In [6]:
#Tugas Sesi quiz Array

print('UNIVERSITAS NUSA PUTRA SUKABUMI')
print('-------------------------------')

import array as arr

arr_int = arr.array('i',[10,20,30,40,90,80])

arr_bool = arr.array('i',[True,False])

arrtambah = arr_int[1] + arr_bool[0]

print(arrtambah)

UNIVERSITAS NUSA PUTRA SUKABUMI
-------------------------------
21

In [5]:
data = input('data : ')
cari = input ('cari: ')
print(data.count(cari))

data : 123444
cari: 3
1

In [21]:
#latihan perintah-perintah singkat

x=input()
olah=x[::-1]
print(olah)
print('\n')    

x='belajar'

print(x.capitalize())

nama = "UNIVERSITAS NUSA PUTRA SUKABUMI"
print(nama.title())
print(nama.lower())
print(nama.upper())
print(nama.lower())
print(nama.find("N"))

print(nama.replace('UNIVERSITAS NUSA PUTRA SUKABUMI','---'))

Adhitia Erfina
anifrE aitihdA


Belajar
Universitas Nusa Putra Sukabumi
universitas nusa putra sukabumi
UNIVERSITAS NUSA PUTRA SUKABUMI
universitas nusa putra sukabumi
1
---

In [14]:
print("Universitas\33[1m Nusa"+"\33[1m Putra Sukabumi") 
bold = '\33[1m'
print(bold + "hello")
print('\33[1m' + "Universitas Nusa Putra Sukabumi")

Universitas Nusa Putra Sukabumi
hello
Universitas Nusa Putra Sukabumi

In [16]:
inputNilai = int(input("Masukan nilai mahasiswa : "))
nilai = ""
if inputNilai >= 85 :
    nilai = "A"
elif (inputNilai >= 75) and (inputNilai <= 85):
    nilai = "B"
elif (inputNilai >= 65) and (inputNilai <= 75):
    nilai = "C"
elif (inputNilai >= 55) and (inputNilai <= 65):
    nilai = "D"
else:
    nilai = "E"
print("Predikat mahasiswa",nilai)

Masukan nilai mahasiswa : 90
Predikat mahasiswa A

In [17]:
nama = input("Nama          :")
inputNilai = int(input("Masukan nilai mahasiswa : "))
nilai = ""
if inputNilai >= 10 :
    nilai = 80000
elif (inputNilai < 10) and (inputNilai > 150):
    nilai = "B"
elif (inputNilai >= 65) and (inputNilai <= 75):
    nilai = "C"
elif (inputNilai >= 55) and (inputNilai <= 65):
    nilai = "D"
else:
    nilai = "E"
print("Predikat mahasiswa",nilai)

Nama          :mmmmmmm
Masukan nilai mahasiswa : 90
Predikat mahasiswa 80000

In [8]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True

In [11]:
nameList = ("John", "Harry", "Jesse", "John", "Harry", "Harry")
print (nameList)

('John', 'Harry', 'Jesse', 'John', 'Harry', 'Harry')

In [12]:
nameList = ["John", "Harry", "Jesse", "John", "Harry", "Harry"]
print (nameList)

['John', 'Harry', 'Jesse', 'John', 'Harry', 'Harry']

In [21]:
nameList = ["John", "Harry", "Jesse", "John", "Harry", "Harry"]
nameList[4]

'Harry'

In [26]:
person = {'name': 'Phill', 'age': 22}

a = person.setdefault('age')

print('person = ', person)

print('Age = ', a)

person =  {'name': 'Phill', 'age': 22}
Age =  22

In [30]:
aTuple = (100, 200, 300, 400, 500)

print(aTuple[2])

print(aTuple[-4:-1])

300
(200, 300, 400)

In [1]:
def fungsi(a, b):

    return (a + b)
    return (a)

a = int(input('Enter 1st number: '))

b = int(input('Enter 2nd number: '))

print(f'{fungsi(5,6)}')

Enter 1st number: 1
Enter 2nd number: 0
11

In [37]:
def func(a,b):

    return (str(a) + str(b))

print(func(14,28))

1428

In [2]:
def func(a,b):

    if a < b:

        return a

    return b

In [8]:
try:

    a=11/5

    print (a)

except ArithmeticError:

    print ("This statement is raising an exception")

finally:

    print ("final block executed ")

2.2
final block executed

In [62]:
try:

    a=int(input("\n Enter a Value "))

    b=int(input("\n Enter a Value "))

    c=a/b

    print (c)

except:

    print("\n Something Went Wrong")

 Enter a Value 1

 Enter a Value 1
1.0

In [55]:
try:

    num = int(input("Enter a number: "))

    assert num % 2 == 0

except:

    print("Not an even number!")

else:

    reciprocal = 1/num

    print(reciprocal)

Enter a number: 1
Not an even number!

In [9]:
x = 5

y = 0

try:

    z = x/y

except ZeroDivisionError:

    z=0 #handle here

print(z) #output as 0

0

In [13]:
num1 = 100

num2 = 0

try:

    result = num1/num2

    print(result)

except ZeroDivisionError:

    print("Zero Division Error Occured")

Zero Division Error Occured

In [17]:
#Fungsi dengan parameter Sintaks

def fullName(firstname, lastname):
    print('firstname : ', Eko MN)
    print('lastname : ', Nuryaman)
    
fullName('firstname')

SyntaxError: invalid syntax (1885325493.py, line 4)